/*
*   VARIABLES
*/
:root{
    /*  TEXT    */
    --fc-light: hsl(0 0% 80%);
    /*  BACKGROUND  */
    --bc-dark: hsl(0 0% 10%);
    --bc-dark-accent: hsl(0 0% 20%);

    --room-red: hsl(0 100% 50% / 0.5);

    /*  Shadows */
    --shadow-color-primary: hsl(180 100% 50% / 0.3);
    --shadow-color-dark: hsl(0 0% 0% / 0.5);

    --bs-outward: -1px -1px 3px var(--shadow-color-dark),
    inset -3px -3px 5px var(--shadow-color-dark),
    1px 1px 5px var(--shadow-color-primary),
    inset 1px 1px 3px var(--shadow-color-primary);

    --bs-inward: 1px 1px 3px var(--shadow-color-dark),
    inset 3px 3px 5px var(--shadow-color-dark),
    -1px -1px 5px var(--shadow-color-primary),
    inset -1px -1px 3px var(--shadow-color-primary);

    /*  Buttons */
    --btn-bg-color-active: hsl(180 50% 50% / 0.3);

    /*  Border */
    --border-temp-active: hsl(0 0% 100% / 0.2);


}

/*
*   RESETS
*/
*{margin: 0;padding: 0;box-sizing: border-box;}

/*
*   SITEWIDE
*/
html{
    font-family: 'Helvetica','sans-serif';
    color: var(--fc-light);
}
body{
    min-height: 100vh;
    background-color: var(--bc-dark);
    overflow-x: hidden;
}
.header-link{
    padding: .25rem .5rem;
    border-radius: 10px;
    box-shadow: var(--bs-outward);
    line-height: 1.5rem;
}
.header-link:hover{
    background-color: hsl(120 100% 50% / 0.5);
}
.header-link:active{
    box-shadow: var(--bs-inward);
}
footer{
    padding: 1rem;
}
/*
*   UTILITY CLASSES
*/
.link{
    text-decoration: none;
    color: var(--fc-light);
}
.form-label{
    display: block;
}
.form-input{
    font-size: 1.2rem;
    line-height: 1.5rem;
    padding:5px;
    display: block;
}

.hidden{
    display: none;
}
.shown{
    display: block;
}
.grid{
    display: grid;
}
.flex-row{
    display: flex;
    flex-direction: row;
}
.flex-column{
    display: flex;
    flex-direction: column;
}
.valid-bg{
    background-color: green;
}
.invalid-bg{
    background-color: red;
}
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
  }