<div>
    <h2 style="text-align:center;">Tulip</h2>
</div>
<p>Verify your email address to complete the signup and login into your Tulip account</p>
<p>This link <strong style="color:#e52800;">expires in 1 hour</strong>.</p>
<p style="padding:16px; background-color:#dfdfdf; margin-bottom: 16px;">Press&nbsp;
    <a style="font-size:24px; font-weight:700;" href=<%= link %>>HERE&nbsp;</a>
to finish verification.</p>
<p style="margin-bottom: 5px;">Thank you for trying my first chat application website!</p>
<p>Clayton McDaniel</p>
