<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TULIPS || Email Sent</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <div class="EmailSentPage">
        <header>
            <h1>TULIPS</h1>

            <h2>Verification email sent!</h2>
            <p>Please check the email you provided</p>
            <p>The email will be from 'anternidrummer'.</p>

            <nav>
                <ul>
                    <li>
                        <a href="/login" class="link email-sent_navigation_link">Go to Login page</a>
                    </li>
                    <li>
                        <a href="/" class="link email-sent_navigation_link">Go to Home page</a>
                    </li>
                    
                </ul>
            </nav>
        </header>
        
    </div>
</body>
</html>