<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TULIPS</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/img/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/icons/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <div class="grid MainPage">
        
        <header class="main-header">
            <div class="background">
                <div class="background-row"></div>
                <div class="background-row"></div>
                <div class="background-row"></div>
                <div class="background-row"></div>
                <div class="background-row"></div>
                <div class="background-row"></div>
                <div class="background-row"></div>
                <div class="background-row"></div>
                <div class="background-row"></div>
                <div class="background-row"></div>
            </div>
            <h1>Tulips</h1>

            <nav class="main-navigation">
                <ul>
                    <li>
                        <a href="/login" class="link main-navigation_link">Login</a>
                    </li>
                    <li>
                        <a href="/register" class="link main-navigation_link">Signup</a>
                    </li>
                    <li>
                        <a href="#About" class="link main-navigation_link">About</a>
                    </li>
                    <li>
                        <a href="#Contact" class="link main-navigation_link">Contact</a>
                    </li>
                </ul>
            </nav>
            
        </header>
        <main>
            <section id="About" class="about_section">
                <article>
                    <h2>Lorem ipsum dolor sit.</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quaerat vel ullam voluptates beatae recusandae, adipisci perferendis eaque numquam. Eius.</p>
                </article>
                <article>
                    <h2>Lorem ipsum dolor sit.</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quaerat vel ullam voluptates beatae recusandae, adipisci perferendis eaque numquam. Eius.</p>
                </article>
                <article>
                    <h2>Lorem ipsum dolor sit.</h2>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quaerat vel ullam voluptates beatae recusandae, adipisci perferendis eaque numquam. Eius.</p>
                </article>
            </section>
            <section id="Contact" class="contact_section">
                <div class="background-reverse">
                    <div class="background-reverse-row"></div>
                    <div class="background-reverse-row"></div>
                    <div class="background-reverse-row"></div>
                    <div class="background-reverse-row"></div>
                    <div class="background-reverse-row"></div>
                    <div class="background-reverse-row"></div>
                    <div class="background-reverse-row"></div>
                    <div class="background-reverse-row"></div>
                    <div class="background-reverse-row"></div>
                    <div class="background-reverse-row"></div>
                </div>
                
                <form action="">
                    <article>
                        <h2>Lorem ipsum dolor sit.</h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat quaerat vel ullam voluptates beatae recusandae, adipisci perferendis eaque numquam. Eius.</p>
                    </article>
                    <input type="text" 
                        name="name" 
                        id="ContactNameInput"
                        placeholder="Name">
                    <input type="email" 
                        name="email" 
                        id="ContactEmailInput"
                        placeholder="Email">
                    <textarea name="message" 
                        id="ContactMessageInput" 
                        cols="20" 
                        rows="10"
                        placeholder="Message"></textarea>
                    <button type="submit" class="button">Send Email</button>
                </form>

            </section>
            <footer>
                <p>&copy;&nbsp;2023 Tulips</p>
            </footer>
        </main>
    </div>
</body>
</html>